<article class="post">
    <div class="post-header">
        <h2>{{post.title}}</h2>
    </div>
    <div>
        <p class="post-text">{{post.text}}</p>
    </div>
    <div>
        <p>{{user.username}}</p>
    </div>
</article>