<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    
    {{!-- 
    Notes to self:
    Include a header tag
        The header should include an h1 tag with the website name
        The header should include a navbar that allows a user to go the main homepage, see all posts or login
     --}}


</body>
</html>