{{!-- This file should have everything related to creating a new post. The page should ask for a title, what the blog is about, and a button that actually creates the post --}}

<section>
    <h2>Add a new blog</h2>
    <form>
        <label>Blog title</label>
        <input type="text" />

        <label>Blog content</label>
        <input type="text" />

        <button type="submit">Add blog</button>
    </form>
</section>

<script src="{{!--file path to javascript/add_blog.js--}}"></script>