{{!-- This page will have the content related to the page that displays all of the user's blogs. This handlebar should include every blog post and an option to add a new post --}}

{{#if blogs.length}}
<section>
    <h2>Your Blog Posts</h3>
    {{#each blogs as |blog|}}
        {{!-- I wonder if you can import the blog_info from the partials folder into this section but filter it for only a specific user's blogs --}}
    {{/each}}
</section>
{{/if}}

<button type="submit"><a href="{{!-- add route to new post--}}">Post a new blog</a></button>

<script src="{{!--file path to javascript/add_blog.js--}}"></script>