<section>
    <h2>Edit blog</h2>
    <form>
        <label>Title</label>
        <input type="text" />
        <label>Blog content</label>
        <input type="text" />
        <button type="submit">Update blog</button>
        <button type="button">Delete blog</button>
    </form>
</section>

<script src="{{!--file path to javascript/update_post.js--}}"></script>
<script src="{{!--file path to javascript/delete_post.js--}}"></script>