{{!-- Post the chosen blog --}}
{{!-- Only allow comments if the user is logged in --}}
{{#if loggedIn}}
<div>
    <h2>{{!--Title of the blog--}}</h2>
    <form>
        <label>Comment</label>
        <input type="text" />

        <button type="submit">Submit</button>
    </form>
</div>
{{/if}}

{{!-- Post the preexisting comments --}}
{{#if loggedIn}}
<script src="{{!--file path to javascript/comments.js--}}"></script>
{{/if}}